.sharebuttons {
  display: flex;
  flex-direction: row;

  margin-left: calc(0.8rem / -2); /* xs/2 */
  margin-right: calc(0.8rem / -2); /* xs/2 */
}

.sharebuttons .fs-sharebutton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px; width: 40px;
  margin: 0 calc(0.8rem / 2);  /* xs/2 */

  background-color: #DCEDFF; /* main-light */
  border-radius: 40px;
}

.sharebuttons .fs-sharebutton .fs-sharebutton-logo {
  width: 22px; height: 22px;
}
