* {
  font-size: 12pt;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Rubik", "Roboto", Arial;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}
h2, .h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2em;
}
h3, .h3 {
  font-size: 1.9rem;
  font-weight: 500;
}
h4, .h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
h5, .h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.col-xs-8 {
  flex-basis: auto;
  padding: 0;
}

#main {
  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 100vh;
}

#background-circles {
  position: absolute;
  bottom: 0; left: 0;
  z-index: -100;
}
#background-circles .background-circle {
  position: absolute;
  bottom: 0; left: 0;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}
#background-circles .background-circle#big {
  width: 1023px; height: 1023px;
  background-color: #DCEDFF; /* main-light */
  opacity: 0.25;
  transform: translate(-35%, 50%);
}
#background-circles .background-circle#small {
  width: 515px; height: 515px;
  background-color: #94B0DA; /* main */
  opacity: 0.25;
  transform: translate(75%, 65%);
}

#create-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
  margin-left: 3.2rem; /* md */
  background-color: transparent;
}
.sliding-arrow.right {
  position: absolute;
  top: 0; right: 0px;
  z-index: -1;

  width: 0; height: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #94B0DA;

  transition: 0.25s ease-in-out;
}
#create-button:hover {
  /* background-color: #94B0DA; /* main */ */
}
#create-button:hover .sliding-arrow.right {
  right: -30px;
  transition: 0.25s ease-in-out;
}
