body {
  overflow: hidden;
}
* {
  font-size: 12pt;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Rubik", "Roboto", Arial;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}
h2, .h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2em;
}
h3, .h3 {
  font-size: 1.9rem;
  font-weight: 500;
}
h4, .h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
h5, .h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.col-xs-8 {
  flex-basis: auto;
  padding: 0;
}

#main {
  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 100vh;
}

#background-circles {
  position: absolute;
  bottom: 0; left: 0;
  z-index: -100;
}
#background-circles .background-circle {
  position: absolute;
  bottom: 0; left: 0;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}
#background-circles .background-circle#big {
  width: 1023px; height: 1023px;
  background-color: #DCEDFF; /* main-light */
  opacity: 0.25;
  transform: translate(-35%, 50%);
}
#background-circles .background-circle#small {
  width: 515px; height: 515px;
  background-color: #94B0DA; /* main */
  opacity: 0.25;
  transform: translate(75%, 65%);
}

.sharebuttons.example {
  height: 40px;
}
#create-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
  margin-left: 3.2rem; /* md */
  background-color: transparent;
}

.btn-goto-right.btn-goto-md {
  position: relative;
  width: 40px; height: 40px;
  margin-left: 0.4rem; /* xs/2 */
}
.btn-goto-right.btn-goto-md .btn-goto-arm {
  display: inline-block;
  position: absolute;
  top: 50%; right: 0;
  width: 100%; height: 1px;
  background-color: #292929; /* copy */
	transform-origin: right;
	background-color: #292929; /* main */

  transition: transform 0.2s ease-in-out;
}
.btn-goto-right.btn-goto-md .btn-goto-arm:first-child { transform: rotate(30deg); }
.btn-goto-right.btn-goto-md .btn-goto-arm:last-child { transform: rotate(-30deg); }
#create-button.btn-goto-trigger:hover .btn-goto-right .btn-goto-arm:first-child  { transform: rotate(20deg); }
#create-button.btn-goto-trigger:hover .btn-goto-right .btn-goto-arm:last-child  { transform: rotate(-20deg); }
